.hstack,
.vstack {
  display: grid;
}

.hstack {
  grid-auto-flow: column;
  grid-auto-columns: minmax(min-content, max-content);
  align-items: center;
  justify-content: initial;
}

.vstack {
  grid-template-columns: minmax(0, auto);
  align-items: start;
}

.notification {
  position: absolute;
  top: 64px;
  right: 18px;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 12px;
  background: #fff;
  color: #16161a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(20px);
  opacity: 0;
  font-family: sans-serif;
}

.notification.show {
  transform: translateY(0);
  opacity: 1;
  animation: slideUp 0.4s forwards;
}

.notification.fadeOut {
  animation: fadeOut 0.4s forwards;
}

.icon {
  border-radius: 8px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #16161a;
}

.message {
  font-weight: 400;
}

.compact {
  width: 210px;
}

.compact .icon {
  width: 36px;
  height: 36px;
}

.compact .message {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.38px;
  color: #81848e;
}

.large {
  width: 256px;
}

.large .icon {
  width: 32px;
  height: 32px;
}

.large .message {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #16161a;
}

.closeButton {
  position: absolute;
  width: 16px;
  height: 16px;
  left: -4px;
  top: -4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 4px;
  border: none;
  border-radius: 50%;
  color: #81848e;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  background-image: url('data-url:./close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
